*{
	padding: 0px;
	margin: 0px;
}


.container{
	margin: auto;
	width: 960px;
}
body{
	background: #FFFFFF;
	padding: 0px 20px;
	width: 1000px;
	margin: auto;
	font-family: Georgia serif;
}

/* Header */
header{
	width: 100%;
	float: left;
	padding: 30px 0px;
	border-bottom: 2px solid #e2e2e2;
}
#logo{
	display: block;
	text-decoration: none;
	width: 200px;
	height: 70px;
	float: left;
}
#logo>h1{
	font-family: Georgia Regular;
	font-size: 32px;
	font-weight: normal;
	text-transform: capitalize;
	color:#b5b5b5;
}
#logo>p{
	margin-top: 0px;
	font-size: 16px;
	font-family: Georgia Regular;
	color: #666666;
}
nav{
	border-radius: 10px;
	padding: 18px 20px;
	background: #e2494b;
	float: right;
}
.nav-ul{
	width: 100%;
	float: left;
}
.nav-ul li{
	list-style: none;
	display: inline-block;
	padding-right: 40px;
}

.nav-ul li:last-child{
	padding-right: 0px;
}
.nav-ul a{
	text-align: center;
	text-decoration: none;
	font-family: Georgia Regular;
	font-size: 13px;
	color:#FFFFFF;
}
.nav-ul a:hover{
	color:#ee9395;
}
/* end header */

/* Shout */
.shout{
	width: 100%;
	float: left;
	padding:30px 0px 40px 0px;
}
.slogan{
	width: 710px;
	margin: auto;
	text-align: center;
}
.shout i{
	width: 710px;
	margin: auto;
	text-align: center;
	 font-family: Georgia Regular;
	font-size: 22px;
	color: #4d4d4d;
	font-style: italic;
	 
}
/* End Shout */
/* Slider */
.slider{
	width: 100%;
	float: left;
}
#silder{
	width: 960px;
	height: 350px;
	background: #353535;
	margin: auto;
}
.slider img{
	margin-top: 15px;
	margin-left:440px;
}
/* End Slider */

/* service */
.section{
	border-top:1px solid #e2e2e2;
	width: 100%;
	float: left;
	margin-top: 50px;
	padding-top: 50px;
	position: relative;
}
.section-name{
	padding: 5px 20px;
	background: #e2494b;
	position: absolute;
	top:-14px;
	left:395px;
	text-align: center;
	border-radius: 5px;
	border:0px;
}
.section-name h2{
	color:#ffffff;
	 font-family: Georgia Regular;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
}
.service-ul{
	width: 100%;
	float: left;
}
.service-ul li{
	list-style: none;
	display: inline-block;
	width: 320px;
	float: left;
}
.service-ul article{
	width: 100%;
	float: left;
}
.service-title{
	width: 100%;
	float: left;
}
.service-title img{
	max-width: 100%;
	float: left;
}
.service-title a{
	margin-top: 4px;
	float: left;
	margin-left: 20px;
	 font-family: Georgia Regular;
	font-size: 18px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.service-title a:hover{
	text-decoration: underline;
}
.service-content{
	width: 90%;
	float: left;
	margin-top: 10px;
}
.service-content p{
	line-height: 24px;
	text-align: left;
	 font-family: Georgia Regular;
	font-size: 15px;
	color: #979797;
}
.readmore{
	width: 100%;
	float: left;
	margin-top: 10px;
}
.readmore a{
	text-decoration: none;
	color: red;
	font-size: 15px;
}
.readmore a:hover{
	text-decoration: underline;
}
/* End service */

/* team */
.our-player{
	border-top:1px solid #e2e2e2;
	width: 100%;
	float: left;
	margin-top: 60px;
	padding-top: 50px;
	position: relative;
}
.team-list{
	width: 100%;
	float: left;
}
.team-player{
	width: 176px;
	margin-right:20px;
	float: left;
}
.team-player:last-child{
	margin-right: 0px;
}
.player-avatar{
	max-width: 100%;
	float: left;
}
.player-bio{
	width: 100%;
	float: left;
	margin-top: 10px;
}

.player-bio label{
	 font-family: Georgia Regular;
	font-size: 15px;
	font-weight: bold;
	color: #979797;
}
.player-bio span{
	 font-family: Georgia Regular;
	font-size: 15px;
	font-weight: normal;
	color: #979797;
}

.player-bio p{
	margin-top: 5px;
 	font-family: Georgia Regular;
	font-size: 15px;
	font-weight: normal;
	line-height: 22px;
	color: #979797;
}
/* end team */

/* Last work */
.work-list{
	margin-right: 30px;
	float: left;
}
.work-list:last-child{
	margin-right: 0px;
}
/* end lasr work */

/* Footer */
footer{
	width: 100%;
	margin-top:50px;
	padding: 40px 0px 20px 0px;
	float: left;
	background: #e2e2e2;
}

.footer-title{
	display: block;
	margin-bottom: 20px;
	float: left;
	font-family: Georgia Regular;
	font-size: 16px;
	font-weight: normal;
	color: black;
	text-decoration: none;
}
.footer-title:hover{
	text-decoration: underline;
}
.lastest-blog{
	width: 450px;
	float: left;
}

.blog{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	}
.blog-thumb{
	float: left;
	width: 95px;
}
.blog-bio{
	margin-left: 30px;
	width: 310px;
	padding-top: 10px;
	float: left;
}
	.blog-bio a{
		text-decoration: none;
		font-size:15px;
		color:#e2494b;
		font-weight: bold;
	}
	.blog-bio a:hover{
		text-decoration: underline;
	}
	.blog-bio p{
		margin-top:8px;
		line-height: 24px;
		float: left;
		font-size: 15px;
		color:#979797;
	}
	.contact-us{
		width: 270px;
		float: left;
	}
	.contact-us form{
		width: 100%;
		margin-top: 0px;
	}
	.contact-us input{
		margin-bottom: 12px;
		width: 90%;
		float: left;
		padding:10px 10px;
		border-radius: 6px;
		border:0px; 
	}
	.contact-us textarea{
		padding: 10px 10px;
		border-radius: 6px;
		border:none;
		width: 90%;
		float: left;
	}
	.footer-content{
		width: 100%;
		float: left;
		margin-top:0px;
	}
	.company-detail p{
		font-size: 15px;
		color:#979797;
	}
	.company-detail{
		width: 240px;
		float: left;
	}
	.company-detail span{
		color:red;
	}
	.company-detail h3{
		color:#979797;
	}
	footer button{
		margin-top: 15px;
		padding: 10px 10px;
		font-size: 13px;
		border-radius: 4px;
		border: 0px;
		color: white;
		background: #e2494b;
		letter-spacing: 0.5px
		font-weight:bold;
	}

	.copyright{
		width: 100%;
		float: left;
		margin-top:50px;
		border-top: 1px solid #ffffff;
		padding-top: 20px;
	}
	.copyright p{
		font-size: 12px;
		font-family:Georgia Regular;
		color:#979797;
	}
	#copyright-left{
		float: left;
		width: 50%;
	}
	#copyright-right{
		text-align: right;
		float: right;
		width: 50%;
	}
/* End footer */